# Java
*.class
*.jar
*.war
*.ear
target/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
.env
backend/.env
frontend/.env
backend/src/main/resources/application-secrets.yml